- name: Deploy Vulnerable WordPress Environment
  hosts: vuln_servers
  become: yes
  vars_files:
    - vars/main.yml

  tasks:
    - name: Update apt cache and install LAMP stack
      apt:
        name:
          - apache2
          - mariadb-server
          - php
          - php-mysql
          - libapache2-mod-php
          - python3-pymysql
          - unzip
        state: present
        update_cache: yes

    - name: Create WordPress Database
      mysql_db:
        name: "{{ db_name }}"
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Create WordPress DB User
      mysql_user:
        name: "{{ db_user }}"
        password: "{{ db_password }}"
        priv: "{{ db_name }}.*:ALL"
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Download and Unpack WordPress {{ wp_version }}
      unarchive:
        src: "{{ wp_download_url }}"
        dest: "{{ wp_install_dir }}"
        remote_src: yes
        extra_opts: [--strip-components=1]

    - name: Remove default Apache index page
      file:
        path: /var/www/html/index.html
        state: absent

    - name: Deploy wp-config.php from template
      template:
        src: templates/wp-config.j2
        dest: "{{ wp_install_dir }}/wp-config.php"
        owner: "{{ web_user }}"
        group: "{{ web_group }}"

    - name: Inject Vulnerable Plugin ({{ vuln_plugin_name }})
      unarchive:
        src: "{{ vuln_plugin_url }}"
        dest: "{{ wp_install_dir }}/wp-content/plugins"
        remote_src: yes
        owner: "{{ web_user }}"
        group: "{{ web_group }}"

    - name: Deploy custom vulnerable application
      copy:
        src: files/vulnerable_app.php
        dest: "{{ wp_install_dir }}/vulnerable_app.php"
        owner: "{{ web_user }}"
        group: "{{ web_group }}"
        mode: '0644'

    - name: Finalize permissions on web root
      file:
        path: "{{ wp_install_dir }}"
        owner: "{{ web_user }}"
        group: "{{ web_group }}"
        recurse: yes